#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  min-height: 90vh;
  height: auto;
  width: 90vw;
  border: solid grey 2px;
}

.item {
  margin: 3px;
  text-align: left;
}
